.wrapper {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
}
	.percentage {
		display: flex;
		font-size: 1.5em;
		height: 3em;
		width: 3em;
		border: 0.35ch solid var(--color__accent);
		margin-bottom: 0.25em;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		color: var(--color__accent);
	}
	.label {
		max-width: 7ch;
		letter-spacing: 0.1em
	}