.wrapper {
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
.slide {
	transition: transform .6s .3s var(--easing__ease_in_out_sine), max-height .6s .3s;
	&.active {
		transform: translateX(0);
		max-height: 100%;
	}
	&.inactive {
		max-height: 0%;
		&.left {
			transform: translateX(-100%);
		}
		&.right {
			transform: translateX(100%);
		}
	}
}