.wrapper {
	--filters__color__height: 20vw;
	--wrapper-padding: 1rem;
	padding: var(--wrapper-padding);
	transition: transform .6s .3s var(--easing__ease_in_out_sine);
	&.active {
		transform: translateX(0);
	}
	&.inactive {
		transform: translateX(-100%);
		//remove scrollbars
		max-height: 100%;
		overflow: hidden;
	}
}
	.header {
		display: block;
		width: 100%;
		padding: var(--wrapper-padding);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: var(--color__bg);
	}
		.filters {}
			.colourOptions {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}
	.container {
		padding-top: calc(var(--filters__color__height) * 1.38 + (2 * var(--wrapper-padding)));
	}