.wrapper {
	--filters__color__height: 20vw;
	min-height: 100vh;
	padding: 0 var(--wrapper-padding) var(--wrapper-padding); //defined in global
	position: relative;
}
	.header {
		--header__padding: var(--wrapper-padding);
		display: block;
		width: 100%;
		padding: var(--header__padding) 0;
		position: sticky;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: var(--color__bg);
	}
		.filters {}
			.colourOptions {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}

@media(orientation: landscape){
	.wrapper {
		--filters__color__height: 20vh;			
	}

}

@media(min-width: 768px){
	.wrapper {
		--filters__color__height: 5rem;
	}
		.header {
			--header__padding: calc(var(--wrapper-padding) / 2);
		}
}

@media(min-width: 1025px){
	.wrapper {
		display: flex;
		padding: 0;
	}
		.header {
			width: auto;
			padding: var(--wrapper-padding) 0 var(--wrapper-padding) var(--wrapper-padding);
			max-height: 100vh;
		}
			.filters {
				height: 100%;
			}
				.colourOptions {
					flex-direction: column;
				}
		.container {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
}