.wrapper {
	position: relative;
	&.hidden {
		opacity: 0;
	}
	&.visible {
		animation: animation__opacity__reveal .3s .6s both;
	}
}
	.back {
		display: flex;
		--back_button__size: 35px;
		border: 2px solid transparent;
		margin-left: calc((-1 * var(--back_button__size)) - 4px);
		margin-top: calc((-1 * var(--back_button__size)) - 4px);
		position: sticky;
		top: var(--wrapper-padding);
		left: var(--wrapper-padding);
		z-index: 2;
		justify-content: center;
		align-items: center;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-color: transparent;
		&::after {
			content: "<";
			height: var(--back_button__size);
			width: var(--back_button__size);
			font-size: var(--font__size__title);
			line-height: 1em;
			color: var(--color__bg);
		}
		&:hover::after {
			color: var(--color__highlight);
		}
		&:focus {
			outline: 0;
			border-color: var(--color__highlight);
		}
	}
	.header {
		display: flex;
		flex-direction: column;
	}
		.hero {
			order: 1;
			width: 100%;
			height: 87.5vw;
			position: relative;
		}
			.figure {
				width: 100%;
				height: 100%;
				position: relative;
				&::after {
					content: "";
					display: block;
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				}
			}
				.image {
					display: block;
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: center;
				}
			.sellingPoints {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
				.rebuyRating {
					--color__rebuy: var(--color__bg);
					font-size: var(--font__size__label);
					position: absolute;
					top: var(--wrapper-padding);
					right: var(--wrapper-padding);
					color: var(--color__rebuy);
					span {
						border-color: var(--color__rebuy);
						color: var(--color__rebuy);
					}
				}

				.discount {
					font-size: var(--font__size__subheading);
					position: absolute;
					bottom: calc(var(--wrapper-padding) * -1);
					left: var(--wrapper-padding);
				}
		.summary {
			order: 2;
			padding: calc(var(--wrapper-padding) * 2) var(--wrapper-padding);
		}
			.name {
				&.producer {
					font-size: var(--font__size__subheading);
				}
				&.wine {
					font-size: var(--font__size__title);
					color: var(--color__bold);
				}
			}
			.prices {
				margin-top: 1em;
				.actual {
					font-size: var(--font__size__subheading);
					color: var(--color__accent);
				}
				.original {
					text-decoration: line-through;
				}
			}
	.section {
		padding: var(--wrapper-padding);
		font-weight: 300;
		&.wine {
			padding-top: calc(2 * var(--wrapper-padding));
			padding-bottom: calc(2 * var(--wrapper-padding));
			background-color: var(--color__bg__alt);
		}
		.section {
			padding: 0;
			&+.section {
				margin-top: var(--wrapper-padding);
			}
		}
	}
		.title {
			font-size: var(--font__size__subheading);
			color: var(--color__bold);
			font-weight: 600;
		}
		.details, .tags, .body {
			margin-top: 1.25em;
		}
			.property, .tag {
				display: inline-block;
				.key, .value {
					display: inline-block;
					vertical-align: top;
				}
				.key {
					font-weight: 900;
					&::after {
						content: ":";
						display: inline-block;
						margin-right: 0.5ch;
					}
				}
				&+.property {
					margin-left: 1em;
				}
			}
			.tag {
				padding: 0.33em 1em;
				margin: 0 0.62em 0.62em 0;
				font-weight: 600;
				border-radius: 1em;
				color: var(--color__bg);
				background-color: var(--color__accent);
			}
		.body {
			line-height: 1.75em;
		}


@keyframes animation__opacity__reveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media(orientation: landscape){
	.wrapper {
		display: flex;
		width: 100%;
	}
		.back {
			height: var(--back_button__size);
			&::after {
				// color: var(--color__bold);
			}
		}
		.header {
			flex: 1 0 30%;
			position: sticky;
			top: 0;
			left: 0;
		}
			.hero {
				height: 100vh;
			}
				.discount {
					left: 50%;
					bottom: var(--wrapper-padding);
					transform: translateX(-50%);
				}
				
		.info {}
}

@media(min-width: 768px) and (orientation: landscape){
	.back {
		
	}
	.header {
		max-height: 100vh;
	}
		.hero {
			height: 50vh;
		}
			.discount {
				bottom: calc(-1 * var(--wrapper-padding));
			}
}