:root {
	--color__accent: #b3477f;
	--color__highlight: #50e3c2;
	--color__base: #7c7c7c;
	--color__bold: #2d2d2d;
	--color__bg: #ffffff;
	--color__bg__alt: #f6f6f7;
	--color__discount: #cc0000;
}

body {
	color: var(--color__base);
	background-color: var(--color__bg);
}