* {
	box-sizing: border-box;
	padding: 0;
	margin:  0;
	border:  0;
}

:root {
	--wrapper-padding: 1rem;
}

@media(min-width: 768px){
	:root {
		--wrapper-padding: 2rem;
	}
}

@media(min-width: 1025px){
	--wrapper-padding: 1rem;
}